<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>{{current_user}}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="robots" content="noindex,nofollow">
<meta name="googlebot" content="noimageindex">
<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<link rel="stylesheet" type="text/css" href="{{context['cdn']}}/style_new.css" media="screen" />
<script src="{{context['cdn']}}/jquery.min.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
    function showToastClient(msg){
        Android.ToastClient(msg);
    }

    function sendFeedback(msg){
        Android.ToastClient(msg);
    }
</script>
{% block head %}{% end %}
</head>
<body>
{% block location %}
{% end %}

{% block header %}
{% end %}

{% block body %}
{% end %}

{% block footer %}
{% end %}

</body>
</html>	
