{% extends "base.html" %}
{% block header %}
<h1 id="header"><a class="toBack" href="/index#t1:7#t0:1">返 回</a>动态壁纸小贴士</h1>
{% end %}
{% block body %}
<div style="margin: 5px; padding: 3px; line-height: 25px;">
    <p>介绍</p><p>  动态壁纸跟壁纸不一样，它是一种特殊的应用程序，需要安装之后才能使用.</p><br>
    <p>安装</p><p>  进入动态壁纸详情页，点击“应用”即可下载并安装动态壁纸</p><br>
    <p>使用</p><p>  安装完毕后再次在动态壁纸详情页点击“应用”，在弹出的动态壁纸列表中点击刚才下载的动态壁纸，然后点击“设置壁纸”即可.</p>
    <p> 或者点击“管理”，然后点击“动态壁纸”，点击“使用”，在弹出的动态壁纸列表中点击刚才下载的动态壁纸，然后点击“设置壁纸”即可.</p><br>
    <p>删除</p><p>  点击“管理”，然后点击对应动态壁纸后面的删除按钮即可删除，系统自带动态壁纸不能删除.</p><br>
    <p>黑屏</p><p>  可能是你的系统版本和你下载的动态壁纸版本不兼容，重新安装一次或者换一个试试.</p><br>
    <p>广告</p><p>  由于部分动态壁纸可能会弹出广告，如果介意请勿下载，含广告的动态壁纸在说明里面都有标明.</p><br>
</div>
{% end %}
