{% extends "base.html" %}
{% block head %}
<script type="text/javascript">
var skipnum;
var cid;
var ordervalue;
var isfinish=true;
var imgw = parseInt(($(window).width()-16)*0.33);
var imgh= parseInt(imgw*3/4);
function loadImage(cateid,skip,order)
{
    if(isfinish==false)
        return;
    isfinish=false;
    skipnum = parseInt(skip);
    if(isNaN(skipnum))skipnum=0;
    cid = cateid;
    ordervalue = order;
    if(skip=='0')
        $(".list").empty();
    var needKill = true;
    var url = '/morepaperlist?cateid='+cid+'&skip='+skipnum+'&order='+ordervalue+'&jsoncallback=?&d='+Math.random();
    $(".load").html('加载中...');
    var myAjaxCall = $.getJSON(url,function(resp){
            needKill = false;
            var len = resp.resp.length;
            var html='';
            for(i=0;i<len;i++)
            {
            html+="<li><a id='"+skipnum+"' href='/paperDetail?imgid="+resp.resp[i].id+"&offset="+skipnum+"&act=cate&order="+ordervalue+"#t1:0#t0:0'><img src='http://{{context['static_server']}}/download/"+resp.resp[i].src+"' style='width:"+imgw+"px;height:"+imgh+"px;'></a></li>";
            skipnum++;
            }
            $(".list").append(html);
            html=null;
            $(".load").html('点击加载更多');
            if(len<18 || (len>18 && len<30))
                $(".load").html('没有更多啦！');

            $(".load").show();
            isfinish=true;
            myAjaxCall=null;
            resp=null;
            return false;
            });
    setTimeout(function(){
            if(needKill){
            myAjaxCall.abort();
            $(".load").html('网络异常，再试一次');
            isfinish=true;
            myAjaxCall=null;
            needKill=false;
            }
            },10000);
    url=null;
}
function setURL(e)
{
    var hash; 
    var curskip = $(this).attr('id');
    curskip="#"+curskip+":"+ordervalue;
    window.location.hash=curskip;
}
function switchList(e)
{
    $(".more").removeClass("now");
    $(this).addClass("now");
    var order = $(this).attr("href");
    loadImage('{{cateid}}','0',order);
    return false;
}
function loadMore(e)
{
    loadImage(cid,skipnum,ordervalue);
    return false;
}
$(document).ready(function(){
        var tmp = parseInt({{skip}});
        var tord = '{{order}}';
        tmp = tmp-7;
        if(tmp<0)
            tmp=0;
        if(tord=='rank')
        {
            $(".more").removeClass("now");
            $(".rank").addClass("now");
        }

        loadImage('{{cateid}}',tmp,tord);
        $("a.more").unbind("click");
        $("a.more").bind("click",switchList);
        $("a.load").unbind("click");
        $("a.load").bind("click",loadMore);
        $(".next").click(function(){
            var page=$(".pagetext").val();
            page=parseInt(page);
            skipnum=(page-1)*30;
            if(skipnum<0)
                skipnum=0;
            $(".list").empty();
            loadImage(cid,skipnum,ordervalue);
            });
        });
</script>
{% end %}
{% block location %}
{% end %}
{% block header %}
<h1 id="header"><a class="toBack" href="/index#t1:7">返 回</a>{{category['rname']}}</h1>
{% end %}

{% block body %}
<div class="cate_t bg1">
    <span class="bg1"><a class="now more" href="date" style="position:relative;">最新<div class="ca_bar_1"></div><div class="ca_bar_2"></div></a><a class="more rank" href="rank">热门</a></span>
</div>
<ul class="list">
</ul>
<div class="loadmore"><a class="load" href="#">点击加载更多</a><a class="totop" href="#"  onclick="window.scrollTo(0,0);return false;"><div><div class="totop_img"></div><div class="totop-text">回顶部</div></div></a></div>
{% end %}

