{% extends "base.html" %}
{% block head %}
<script type="text/javascript" charset="utf-8">
$(document).ready(function(){
        var hwid = $(window).width()/3*2;
        $(".scale32").height(hwid);
        });
</script>
{% end %}
{% block location %}
{% end %}
{% block header %}
{% end %}

{% block body %}
<ul class="zjdetail">
    <li><img width="100%" src="http://{{context['static_server']}}/download/{{recent_imgid}}" class="scale32"></li>
    <li class="t">{{user['nickname']}}
    {% if user['avatar'] %}<br>
    <img src="http://{{context['static_server']}}/download/{{user['avatar']['avatar']}}">
    {% elif user['gender']=='1' %}<br>
    <img src="{{context['cdn']}}/images/logo2.png">
    {% else %}<br>
    <img src="{{context['cdn']}}/images/logo3.png">
    {% end %}
    <span>活跃度: {{user['rank']}}</span>
    <a href="/myedit"><input type="button" value="修改资料" id="modify" /></a></li>
</ul>
<div class="manage pd_b">
<ul>
    <li><a href="/myfavorite/{{context['se']['uid']}}"><dl><dt><img src="{{context['cdn']}}/images/m12.png"></dt><dd><span>我喜欢的</span></dd></dl></a></li>
    <li><a href="/myattention/{{context['se']['uid']}}"><dl><dt><img src="{{context['cdn']}}/images/m13.png"></dt><dd><span>我的关注</span></dd></dl></a></li>
    <li><a href="/myalbum/{{context['se']['uid']}}"><dl><dt><img src="{{context['cdn']}}/images/m15.png"></dt><dd><span>我的专辑</span></dd></dl></a></li>
    <li><a href="/myupload/{{context['se']['uid']}}"><dl><dt><img src="{{context['cdn']}}/images/m16.png"></dt><dd><span>我的上传</span></dd></dl></a></li>
    <li><a href="/mytag/{{context['se']['uid']}}"><dl><dt><img src="{{context['cdn']}}/images/m17.png"></dt><dd><span>我的标签</span></dd></dl></a></li>
</ul>
{% end %}
