{% extends "base.html" %}
{% block head %}
{% end %}

{% block body %}
<div class="main">
    <form enctype="multipart/form-data" method="POST" action="/messagedeliver/edit?mid={{ message['_id'] }}">
        {{ xsrf_form_html() }}
        <table class="long">
            <tr><td>标题</td><td><input type="text" id="title" name="title" value="{{ message['title'] }}" required="required"></td></tr>
            <tr><td>内容</td><td><input type="text" id="content" name="content" value="{{ message['content'] }}" required="required"></td></tr>
            <tr><td>跳转网址</td><td><input type="text" id="link" name="link" value="{{ message['link'] }}" required="required"></td></tr>
            <tr><td>开始日期</td><td><input type="text" id="datefrom" name="datefrom" value="{{ message['datefrom'] }}" onclick="MyCalendar.SetDate(this)" placeholder="格式如:2012-06-06" ></td></tr>
            <tr><td>结束日期</td><td><input type="text" id="dateto" name="dateto" value="{{ message['dateto'] }}" onclick="MyCalendar.SetDate(this)" placeholder="格式如:2012-06-06" ></td></tr>
            <tr><td>时间</td><td><input type="text" id="time" name="time" value="{{ message['time'] }}" placeholder="格式如:1330,表示13：30" ></td></tr>
            <tr><td></td><td><input type="submit" class="button primary"  value="修改"></td></tr>
        </table>
    </form>
</div>
{% end %}
