{% extends "base.html" %}
{% block head %}
<script type="text/javascript">

</script>
{% end %}

{% block body %}
<div>
    <div class="main">
        <img width=240 height=400 src="http://static.androidesk.com/thumbnail/{{apk['thumbid'][0]}}">
        <img width=240 height=400 src="http://static.androidesk.com/thumbnail/{{apk['thumbid'][1]}}">
        <table>
            <tbody cellpadding="5" cellspacing="0" border="0">
                <tr><td>名称:</td><td>{{apk['name']}}</td></tr>
                <tr><td>作者:</td><td>{{apk['author']}}</td></tr>
                <tr><td>来源:</td><td>{{apk['origin']}}</td></tr>
                <tr><td>说明:</td><td>{{apk['descr']}}</td></tr>
            </tbody>
        </table>
    </div>
<div>

{% end %}
